.cvBodyElement {
  line-height: 1.75;
  font-family: "Merriweather", georgia, serif;
  color: #111;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.01rem;
}

.cvBodyElement h1,
.cvBodyElement h2,
.cvBodyElement h3,
.cvBodyElement h4 {
  font-weight: 600;
}

.cvBodyElement h1 {
  font-size: 1.5em;
}

.cvBodyElement h2 {
  font-size: 1.125em;
}

.cvBodyElement h4 {
  margin-bottom: 0.25em;
}

.cvBodyElement p,
.cvBodyElement ul {
  margin-top: 0;
  margin-bottom: 3em;
}

.cvBodyElement ul {
  padding-left: 1em;
}

.cvBodyElement ul > li {
  margin-bottom: 0.25em;
}

.cvBodyElement hr {
  height: 0;
  width: 100%;
  border: none;
  border-bottom: solid 1px #ddd;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.cvBodyElement a {
  color: #444;
  text-decoration: none;
}

.cvBodyElement a:hover {
  /* color: red; */
  text-decoration: underline;
}

.cv {
  max-width: 40em;
  margin: 5%;
}

.cv__rule {
  border-bottom: solid 1px #eee;
  padding-bottom: 1.5em;
  overflow: hidden;
}

.cvBodyElement .date {
  font-size: 0.875em;
  color: #444;
  margin-bottom: 0.75em;
}

@media only screen and (min-width: 48em) {
  .cvBodyElement {
    font-size: 1.0625em;
    border: solid 1em #f4f4f4;
  }
  .cv {
    margin-left: auto;
    margin-right: auto;
  }
  .cvBodyElement ul {
    padding-left: 0;
  }
}

.nav {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 1rem;
}

.nav > li {
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0;
}

.footnote {
  font-size: 0.875em;
}

.print-break-before {
  page-break-before: always;
}
